@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f7fb;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* utitily classes */
button {
  cursor: pointer;
  background: #4d5b9e;
  border-radius: 15px;
  font-size: 15px;
  padding: 13px 40px;
  color: #f5f7fb;
  border: none;
}

/* background-blob */
.blob {
  position: fixed;
  z-index: -1;
}

.blob-1 {
  height: 100%;
  width: 100%;
  background: #deebf8;
  top: calc(80% - 5rem);
  right: calc(50% - 5rem);
  border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
}
.blob-2 {
  height: 100%;
  width: 100%;
  background: #fffad1;
  bottom: calc(80% - 5rem);
  left: calc(50% - 5rem);
  border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
}

/* intro */
.intro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-container > h1 {
  font-size: 50px;
  line-height: 37px;
  color: #293264;
}

.intro-container > button {
  background: #4d5b9e;
  border-radius: 15px;
  font-size: 20px;
  padding: 13px 40px;
  color: #f5f7fb;
  border: none;
  margin-top: 25px;
}

/* quiz */
.quiz-container {
  width: 70vw;
  margin: 0 auto;
}

.quiz-container > hr {
  border: 0.794239px solid #dbdef0;
  margin-top: 1px;
}

.quiz-container > h2 {
  font-size: 25px;
  color: #293264;
  margin-block: 20px;
}
.answers {
  margin-top: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.answers > button {
  width: 100%;
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
  padding: 5px 7px;
  font-size: 17px;
  text-align: center;
  color: #293264;
  margin-block-end: 5px;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}

.check-answer {
  margin-block: 10px;
}

.reset-container {
  width: 90%;
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.reset-container > p {
  flex-basis: 55%;
}

@media only screen and (min-width: 768px) {
  .blob-1 {
    top: calc(65% - 5rem);
    right: calc(65% - 5rem);
    width: 50%;
  }

  .blob-2 {
    bottom: calc(65% - 5rem);
    left: calc(65% - 5rem);
    width: 50%;
  }

  .reset-container {
    width: 70%;
  }
}
